[submodule "external/grassland"]
	path = external/grassland
	url = https://github.com/LazyJazz/grassland.git
[submodule "external/abseil-cpp"]
	path = external/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "external/tinyobjloader"]
	path = external/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "external/ImGuizmo"]
	path = external/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "external/tinyxml2"]
	path = external/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "external/tinyfiledialogs"]
	path = external/tinyfiledialogs
	url = https://github.com/LazyJazz/tinyfiledialogs.git
[submodule "external/MikkTSpace"]
	path = external/MikkTSpace
	url = https://github.com/mmikk/MikkTSpace.git
